* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #bdc3c7;
}
header {
  background-color: #1abc9c;
  color: white;
  text-align: center;
  padding: 20px;
}

.question-container {
  border-radius: 15px;
  margin: 20px;
  padding: 20px;
  border: 2px solid #1abc9c;
  background-color: #bdc3c7;
}

.question {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.question-text {
  font-size: 18px;
  margin-bottom: 20px;
}

.answer-options {
  list-style: none;
  margin-bottom: 20px;
}

.answer-options li {
  margin-bottom: 10px;
}

.answer-options label {
  margin-left: 10px;
  font-size: 16px;
}

.timer-container {
  border-radius: 15px;
  margin: 20px;
  padding: 20px;
  background-color: #1abc9c;
  color: white;
  text-align: center;
}

.button-container {
  border-radius: 15px;
  margin: 20px;
  padding: 20px;
  background-color: #f1c40f;
  text-align: center;
}

.button-container button {
  font-size: 16px;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #f39c12;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-container button:disabled {
  background-color: #bdc3c7;
  color: #7f8c8d;
  cursor: not-allowed;
}

.result-container {
  margin: 20px;
  padding: 10px;
}

.result {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.correct {
  color: #2ecc71;
}

.incorrect {
  color: #e74c3c;
}
